/*How the jumbotrons on the page have an effect */
.jumbotronOther{
    height:500px!important;
}
.jumbotronMiddle{ 
    max-height:500px;
    margin-bottom:-30px;
}
.jumbotron{
    background-image:url(https://s-media-cache-ak0.pinimg.com/originals/6e/fa/f8/6efaf84e860efc07253b5c2f0bae9df3.jpg);
    height:940px;
    opacity:0.93;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    
}
.jumboback:after{
  /*this makes the following code to spawn below!*/
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-2;
  background: linear-gradient(to bottom, rgba(1,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.jumboback:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  background:#1B2030 url(https://s-media-cache-ak0.pinimg.com/originals/6e/fa/f8/6efaf84e860efc07253b5c2f0bae9df3.jpg) top center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  animation: grow 10s  linear 10ms infinite;
  z-index:-2
}
.jumboback a{
  color:#eee000
}

h1{
    text-decoration: underline;
    color:white;
    font-size:2.3em;
    text-align:center;
}
.glyphicon .glyphicon-align-justify{
    height:50px;
    width:50px;
    color:grey;
}
span{
    border-style:none;
}
.button{
    text-decoration:none;
    color:grey !important;
    border:none !important;
}
.nav{
    z-index:99;
    
}
.fab .fa-angular{
    height:40px !important;
    width:40px !important;
    
}
.col-lg-6{
    border-top:solid 3px white;
    height:100px;
    border-right:solid 1px white;
    border-left:solid 1px white;
    opacity:0.9;
    background-color:#e8eded;
}

header{
    height:940px;
}
body{
    display:inline;
    background-color:lightgrey;
}
.colintro:hover{
    text-decoration:underline #8ab6e5 !important;
}
.titlecard{
    z-index:1000!important;
    color:white !important;
    -webkit-filter: blur(0px);
    text-decoration: none;
    padding-top:750px;
    font-size:40px;
    
}
#colorOfSpan{
    color:#8ab6e5;
}
.titlecap{
    text-align:center;
    border:solid grey 2px;
    padding-top:12px;
    height:250px;
}
.titlecap1{
    text-align:center;
    border:solid grey 2px;
    padding-top:12px;
    height:540px;
}

#buttonSwapper{
    float:left;
    
}
.buttonSwapperFixed{
    width:100px;
}
#buttonSwapperRight{
    float:left;
    
}
/*Important information!!!!*/
/*transition:all 0.2s ease-in-out;*/
/*transform: translateZ(0);*/
.operatorsCal{
    padding-top:12px;
}
/*this is a simple style to change the "-" dashed marks at the bottom of the page*/
.resizeSpan{
    font-size: 20px;
}
/*this is the sytle for the large input, below the add text p tag.*/
.inputTextSize{
    
}